.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  height: 350px;
}

.grid-item {
  display: inline;
  padding: 5px;
  text-align: center;
}

img {
  border-radius: 10px;
  border-color: #E4CE14;
  border-style: solid;
  border-width: 6px;
}