.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  height: 3rem;
}

.grid-item {
  display: inline;
  padding: 1rem;
  text-align: center;
}
.grid-item-4 {
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

img {
  border-radius: 1rem;
  border-color: #E4CE14;
  border-style: solid;
  border-width: 6px;
}

.order-btn {
  align-content: center;
}