header {
  background-color: #547379b0;
  height: 200px;
  margin: 50px;
  position: relative;
}

.btn {
display: flex;
height: 45px;
justify-content: left;
align-items: flex-end;

}

button {
  background-color: black;
  color: azure;
  font-size: medium;
  padding: 5px 15px 5px 15px;
}

h5 {
  margin: 0;
}

.lemon {
margin-left: 10%;
}